.navbar {
    background-color: #003366;
    color: white;
    padding: 20px;
    height: 100vh;
    width: 200px;
    position: fixed;
    left: 0;
  }
  
  .navbar h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .navbar li {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .navbar li:hover {
    color: #007bff;
  }
  