.task-details {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .task-item {
    background-color: #dcdcdc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  