/* SignupPage.css */
.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 50px auto;
}

h2 {
  text-align: center;
  color: #0055A5;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  color: #666666;
}

input, select {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #F4B400;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #003366;
}
